@charset "utf-8";
/* 웹폰트 연결 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* font-family: 'Jua', sans-serif; */

* {
    margin: 0;
    padding: 0;
}
.cont {
    background-color: wheat;
    padding: 150px 0;
}
.cont h3 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
}
/* 컨테이너 크기 1440px
가운데 배치 */
.cont .list {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* .cont .list div를 가로로 나열
display:flex사용하여 
div를 양끝에 붙여서 정렬되고 사이간격 동일
하게 배치
 */

.cont .list div {
    width: 300px;
    height: 300px;
    /* 가로 : 300px
    세로 : 300px */
    position: relative;
    /* 본인이 중심축 */
}
.cont .list div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* div가 가지는 가로값 전체
    div가 가지는 세로값 전체
    비율에 맞춰서 적용 */
}
.cont .list div p {
    font-family: 'Jua', sans-serif;
    position: absolute; 
    /* 부모 position을 중심으로
    위치설정 */
    top: 10px;
    left: 10px;
    /* 배치, 위치이동 
    position:absolute를 사용 후에는
    top, bottom중에 하나
    left, right중에 하나 값을 작성*/


    width: 50px;
    height: 50px;
    background-color: tomato;
    color: white;
    text-align: center;
    line-height: 50px;
    /* 가로 : 50px
    세로 : 50px
    배경컬러
    텍스트컬러
    글자가로 가운데 정렬
    글자세로 가운데 정렬 */
}

.cont .top {
    width: 100px;
    height: 100px;
    background-color: black;
    color: azure;
    text-align: center;
    line-height: 100px;
    position: fixed;
    /* 브라우저에서 위치고정 */
    right: 50px;
    bottom: 50px;
}
body {
    height: 2000px;
}