@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.section {
  margin: 50px;
  /* height: 100vh; */
  height: calc(100vh - 100px);
  background-color: #d28787;
}
.section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}