@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

.section {
  background: url('../img/image\(4\).jpg') center center / cover no-repeat;
  padding: 160px 0;
}
.section .inner {
  width: 1440px;  
  margin: 0 auto;
}
.section .inner .title {
  margin-bottom: 65px;
  text-align: center;
}
.section .inner .title h1 {
  font-size: 40px;
}
.section .inner .title p {
  font-size: 16px;
  /* margin: 15px 0 65px; */
  margin-top: 16px;
}

.section .inner .list {
  display: flex;
  justify-content: space-between;
}
.section .inner .list .item {
  width: 464px;
  height: 340px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}
.section .inner .list .item a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.section .inner .list .item img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.section .inner .list .item .text {
  width: 204px;
}
.section .inner .list .item .text span {}
.section .inner .list .item .text strong {}
.section .inner .list .item .text p {}